<!DOCTYPE html>
<html lang="en">
<head> 
 <title>Walbat </title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
<style type="text/css"></style>
</head>
<body>
  <div id="THE SITE FOR EVERYTHING IN WALMART BATMAN RELATED. HOPE U HAVE FUN!!!">
    <h1>BATMAN</h1>
    <h3 class= "yellow">Dark Knight accessories </h3>
    <ul id="first row">..</ul>
    <li>
      <img style="-webkit-user-select: none; cursor: -webkit-zoom-in;" src="http://static.comicvine.com/uploads/original/11116/111164870/3847551-9865926659-batma.jpg" width="616" height="365">
    </li>
  </ul>
<ul id="second_row">
  <li><img style="-webkit-user-select: none" src="http://media1.gameinformer.com/filestorage/CommunityServer.Components.SiteFiles/imagefeed/featured/gamer-culture/batman-figs/BatmanFigures-610.jpg"></li>
  <li><img style="-webkit-user-select: none; cursor: -webkit-zoom-in;" src="http://static.comicvine.com/uploads/original/11116/111164870/3842465-1216439145-batma.png" width="257" height="365"></li>
  
  
  
<body>http://www.walmart.com/search/search-ng.do?search_constraint=0&ic=48_0&search_query=Batman&Find.x=0&Find.y=0&Find=Find</body>
</html>